$actionsHeight: 40px;
$consoleHeight: 50px;

$fontFamily: 'Open Sans', sans-serif;
$fontSize: 12px;
$lineHeight: 18px;
$fontWeight: 400;

$headerPaddingBottom: 0;
$headerPaddingLeft: 16px;
$headerPaddingRight: 8px;
$headerPaddingTop: 10px;
$headerTotalHeight: 64px;
$progressBarHeight: 14px;
$actionTransition: .2s cubic-bezier(0,0,.5,1);

$card_narrow: 100%;
$card_normal: 100%;
$card_wide: 100%;

$card_borderWidth: 1px;
$card_padding: 8px;

$card_fontSize: 14px;

$separation: 8px;